<h5>
  <%= Time.now %>
</h5>
<h5>
  <%= link_to "#{@teacher.name}のレッスンが#{@lesson_number}スロット空いています", @landing_page %>
</h5>
<% if @m_landing_page %>
<h5>
  <%= link_to "#{@teacher.name}のレッスンが#{@lesson_number}スロット空いています(携帯用)", @m_landing_page %>
</h5>
<% end %>

