<h3>
  <%= link_to "#{@teacher.name}のレッスンが空いています", "http://eikaiwa.dmm.com/teacher/index/#{@teacher.online_teacher_id}/" %>
</h3>
<h3>
  <%= link_to "#{@teacher.name}のレッスンが空いています(携帯用)", "http://eikaiwa.dmm.com/teacher/schedule/#{@teacher.online_teacher_id}/" %>
</h3>

