<h3>サービス概要</h3>
<p>このサービスに講師を登録すると、1時間に1回、登録した講師の空きレッスンの状況を、登録したメールに送信してくれます。</p>
<h5>サービスの流れ</h5>
<ul class="list-group">
  <li class="list-group-item">講師の登録</li>
  <li class="list-group-item">対応サービスを選ぶ </li>
  <li class="list-group-item">メールに予約状況が届くのを待つ</li>
</ul>
<h5>対応しているサービス</h5>
<ul class="list-group">
  <li class="list-group-item">DMM英会話</li>
  <li class="list-group-item">レアジョブ</li>
  <li class="list-group-item">産経オンライン英会話</li>
</ul>
<h5><%= link_to('Twitterアカウント', 'https://twitter.com/search_teacher', { :target => "_blank" }) %></h5>
